.logo {
	text-align: center;
	font-weight: bold;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #4b7bec;
	/* stroke-width: 100px; */
	text-shadow: 3px 3px 0 #4b7bec, -1px -1px 0 #4b7bec, 1px -1px 0 #4b7bec, -1px 1px 0 #4b7bec,
		1px 1px 0 #4b7bec;
}
