.nav-bar {
	--nav-size: 50px;
	height: var(--nav-size);
	padding: 1.5% 0% 2.5%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 2rem;
	background-color: #446cb3;
	width: 100%;
}

/* .nav-items {
	padding: 0 0 1%;
} */

.nav-item a {
	font-family: "Montserrat", sans-serif;
	font-size: 12px;
	color: #ecf0f1;
}

.nav-items .nav-item {
	list-style-type: none;
	display: inline-block;
	padding: 0px 10px;
}

.nav-items .nav-item a {
	font-weight: 500;
	font-size: 16px;
	text-decoration: none;
}

.nav-items .nav-item a:hover {
	transition-duration: 400ms;
	text-decoration: none;
	color: #f0f0f0f0;
}

.logo {
	color: #fff;
	justify-self: start;
	margin-left: 20px;
	cursor: pointer;
}

.new-btn {
	padding: 9px 20px;
	margin-right: 20px;
	border: none;
	background-color: #3867d6;
	color: white;
	font-family: "Montserrat", monospace;
	cursor: pointer;
	border-radius: 50px;
	outline: none;
}

.new-btn:hover {
	color: white;
	transition-duration: 500ms;
	background-color: #4b7bec;
}

.userinfo-wrapper {
	background-color: #34495e;
	padding: 10px;
}

.nav-button {
	padding: 7px;
	border-radius: 50%;
	cursor: pointer;
	background-color: #227093;
	transition: filter 500ms;
}

.nav-button:hover {
	filter: brightness(1.2);
}
